{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--carousel-->
{% comment %} {% include 'secciones/carousel.html' %} {% endcomment %}
<!--categorias-->
<section class="p-40"> 
	{% comment %} <div class="container">
		<div class="row">               
			<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">                    
				<div class="block1 hov-img-zoom pos-relative m-b-30">
					<img src="" alt="IMG-BENNER">
					<div class="block1-wrapbtn w-size2">
						<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">accesorios </a>
					</div>
				</div>                    
			</div>                
			<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">    
				<div class="block1 hov-img-zoom pos-relative m-b-30">
					<img src="https://cdn.shopify.com/s/files/1/1104/4168/products/Allbirds_M_Wool_Runner_Kotare_GREY_ANGLE_d5ff3b96-7251-4c1e-9ba8-c711434cc10d_900x900.png?v=1571655678" alt="IMG-BENNER">
					<div class="block1-wrapbtn w-size2">
						<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">zapatillas </a>
					</div>
				</div>
			</div>
			<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">    
				<div class="block1 hov-img-zoom pos-relative m-b-30">
					<img src="https://d26lpennugtm8s.cloudfront.net/stores/020/949/products/anteojos-de-sol-de-madera-salento-caoba-11-c7bc15ea9d2343c50715636578024486-480-0.png	" alt="IMG-BENNER">
					<div class="block1-wrapbtn w-size2">
						<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">anteojos </a>
					</div>
				</div>
			</div>
			<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">    
				<div class="block1 hov-img-zoom pos-relative m-b-30">
					<img src="https://woker.vteximg.com.br/arquivos/ids/171316-1000-1000/ED7123_APP_photo_front-center_white.jpg?v=637014104407000000" alt="IMG-BENNER">
					<div class="block1-wrapbtn w-size2">
						<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">buzos</a>
					</div>
				</div>
			</div>
			<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">    
				<div class="block1 hov-img-zoom pos-relative m-b-30">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRS1cs5iu296p5fqDWZVmz2XNlF9mdFcfzSTiOgMp_VVQjbmDFm&usqp=CAU" alt="IMG-BENNER">
					<div class="block1-wrapbtn w-size2">
						<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">Sunglasses </a>
					</div>
				</div>
			</div>
		</div>            
	</div> {% endcomment %}
	
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-3 col-lg-3 d-inline-block">    
			<div class="block1 hov-img-zoom pos-relative m-b-30">
				<img src="C:\Users\Matt\Desktop\img\img\banner-02.webp" alt="IMG-BENNER">
				<div class="block1-wrapbtn w-size2">
					<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">Sunglasses </a>
				</div>
			</div>
			</div>
		
			<div class="col-sm-6 col-md-3 col-lg-3 d-inline-block">    
			<div class="block1 hov-img-zoom pos-relative m-b-30">
				<img src="C:\Users\Matt\Desktop\img\img\banner-03.webp" alt="IMG-BENNER">
				<div class="block1-wrapbtn w-size2">
					<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">Sunglasses </a>
				</div>
			</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 d-inline-block">    
			<div class="block1 hov-img-zoom pos-relative m-b-30">
				<img src="C:\Users\Matt\Desktop\img\img\banner-04.webp" alt="IMG-BENNER">
				<div class="block1-wrapbtn w-size2">
					<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">Sunglasses </a>
				</div>
			</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 d-inline-block">    
			<div class="block1 hov-img-zoom pos-relative m-b-30">
				<img src="C:\Users\Matt\Desktop\img\img\banner-05.webp" alt="IMG-BENNER">
				<div class="block1-wrapbtn w-size2">
					<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">Sunglasses </a>
				</div>
			</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 d-inline-block">    
			<div class="block1 hov-img-zoom pos-relative m-b-30">
				<img src="C:\Users\Matt\Desktop\img\img\banner-07.webp" alt="IMG-BENNER">
				<div class="block1-wrapbtn w-size2">
					<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">Sunglasses </a>
				</div>
			</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 d-inline-block">    
			<div class="block1 hov-img-zoom pos-relative m-b-30">
				<img src="C:\Users\Matt\Desktop\img\img\banner-02.webp" alt="IMG-BENNER">
				<div class="block1-wrapbtn w-size2">
					<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">Sunglasses </a>
				</div>
			</div>
			</div>
		</div>
	</div>


	
</section>

<!--productos destacados-->
<!--marcas-->
<section class="logo-marcas">
    <div class="container-fluid text-center">
		<img src="https://cdn.worldvectorlogo.com/logos/adidas-9.svg" class="logos">
		<img src="https://cdn.worldvectorlogo.com/logos/fila-9.svg" class="logos"> 
		<img src="https://cdn.worldvectorlogo.com/logos/nike-3.svg" class="logos"> 
	</div>   
      
</section>

<!-- Instagram -->
<section class="instagram p-t-20 p-b-52">
	<div class="sec-title p-b-52 p-l-15 p-r-15">
		<h3 class="m-text5 t-center">
			@ Seguinos en Instagram
		</h3>
	</div>

	<div class="flex-w">
		<!-- Block4 -->
		<div class="block4 wrap-pic-w">
			<img src="{% static 'img/instagram/insta (1).jpg' %}" alt="IMG-INSTAGRAM">

			<a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
				<span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
					<i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
					<span class="p-t-2">39</span>
				</span>

				<div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
					<p class="s-text10 m-b-15 h-size1 of-hidden">
						Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
					</p>

					<span class="s-text9">
						Photo by @nancyward
					</span>
				</div>
			</a>
		</div>

		<!-- Block4 -->
		<div class="block4 wrap-pic-w">
			<img src="{% static 'img/instagram/insta (2).jpg' %}" alt="IMG-INSTAGRAM">

			<a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
				<span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
					<i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
					<span class="p-t-2">39</span>
				</span>

				<div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
					<p class="s-text10 m-b-15 h-size1 of-hidden">
						Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
					</p>

					<span class="s-text9">
						Photo by @nancyward
					</span>
				</div>
			</a>
		</div>

		<!-- Block4 -->
		<div class="block4 wrap-pic-w">
			<img src="{% static 'img/instagram/insta (3).jpg' %}" alt="IMG-INSTAGRAM">

			<a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
				<span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
					<i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
					<span class="p-t-2">39</span>
				</span>

				<div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
					<p class="s-text10 m-b-15 h-size1 of-hidden">
						Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
					</p>

					<span class="s-text9">
						Photo by @nancyward
					</span>
				</div>
			</a>
		</div>

		<!-- Block4 -->
		<div class="block4 wrap-pic-w">
			<img src="{% static 'img/instagram/insta (4).jpg' %}" alt="IMG-INSTAGRAM">

			<a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
				<span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
					<i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
					<span class="p-t-2">39</span>
				</span>

				<div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
					<p class="s-text10 m-b-15 h-size1 of-hidden">
						Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
					</p>

					<span class="s-text9">
						Photo by @nancyward
					</span>
				</div>
			</a>
		</div>

		<!-- Block4 -->
		<div class="block4 wrap-pic-w">
			<img src="{% static 'img/instagram/insta (5).jpg' %}" alt="IMG-INSTAGRAM">

			<a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
				<span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
					<i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
					<span class="p-t-2">39</span>
				</span>

				<div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
					<p class="s-text10 m-b-15 h-size1 of-hidden">
						Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
					</p>

					<span class="s-text9">
						Photo by @nancyward
					</span>
				</div>
			</a>
		</div>
	</div>
</section>


{% endblock content %}
