{% load static %}
{% load crispy_forms_tags %}
<style>
.bg-dark {
  background-color: #000000 !important;
}
</style>

<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">

  <a class="navbar-brand" href="{% url 'secciones:home' %}"><img src="{% static 'img/logo.png' %}" alt="logo" width="214" height="auto"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#principal">Principal <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto">Contacto</a>
        </li>
    </ul> 
    {% if request.user.is_authenticated %}
      <ul class="nav navbar-nav ml auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Cerrar sesión</a>
        </li>
      </ul>
    {% else %}
      <ul class="nav navbar-nav ml-auto">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><b>Iniciar sesión</b> <span class="caret"></span></a>
          <ul id="login-dp" class="dropdown-menu dropdown-menu-right mt-2">
            <li>
              <div class="row">
                  <div class="col-md-12">
                    <div class="social-buttons">
                      <a href="#" class="btn btn-fb"><i class="ti-facebook"></i>Facebook</a>
                      <a href="#" class="btn btn-tw"><i class="ti-twitter-alt"></i> Twitter</a>
                    </div>
                                    o
                                    
                    <form class="login" role="form" method="POST" action="{% url 'account_login' %}" accept-charset="UTF-8" id="login-nav">
                      {% csrf_token %}
                         <div class="form-group">
                          <label class="sr-only" for="exampleInputEmail2">Email</label>
                          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="exampleInputPassword2">Contraseña</label>
                          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Contraseña" required>
                          <div class="help-block text-right"><a href="">¿Olvidaste la contraseña?</a></div>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                        </div>
                        <div class="checkbox">
                          <label>
                          <input type="checkbox"> Mantener la sesión activa
                          </label>
                        </div>
                    </form>
                  </div>
                  <div class="bottom container">
                    Nuevo aqui ? <a href="{% url 'account_signup' %}"><b> Registrate!</b></a>
                  </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>   
    {% endif %}
  </div>
</nav>


<!-- nombre de usuario -->
    {% comment %} <form class="form-inline">
      <!-- {{ request.user }} -->
      {% if request.user.is_authenticated %}
      <div class="input-group">
        <div class="input-group-prepend">
          <!--Carrito de compras-->
          {% with totail_items=carrito|length %}
              {% if carrito|length > 0 %}
                <a href="{% url "carrito:carrito_detalle" %}" class="input-group-text ti-shopping-cart-full">{{ totail_items }}</a>
                <!-- objetos 
                {{ totail_items }}= cantidad de items
                Producto{{ totail_items|pluralize }}
                {{ carrito.get_total_price }}
                -->
              {% else %}
                <span class="input-group-text ti-shopping-cart" id="basic-addon1"></span>
              {% endif %}
          {% endwith %} 
      <!--fin Carrito de compras -->
          <span class="input-group-text ti-user" id="basic-addon1"></span>
        </div>
        <input type="text" class="form-control" placeholder="{{ request.user }}" aria-label="Username" aria-describedby="basic-addon1" disabled>
      </div>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="#">Iniciar sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Crear cuenta</a>
        </li> 
      {% endif %}
      
    </form>  {% endcomment %} 
  <!--fin nombre de usuario-->  

