{% load static %}
{% load categoria_template_tags %}
<style>
.bg-dark {
  background-color: #000000 !important;
}
</style>
 <!--nav-bar-->
<nav class="navbar webnav navbar-expand-lg fixed-top  navbar-dark bg-dark">

  <a class="navbar-brand" href="{% url 'secciones:home' %}"><img src="{% static 'img/logo.svg' %}" class="logonav" alt="logo"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'secciones:tienda' %}">Tienda<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto">Contacto</a>
        </li>
        {%categoria%}
    </ul> 
    {% if request.user.is_authenticated %}
      {% if request.user.is_superuser %}
      <ul class="nav navbar-nav ml auto">
        <li class="nav-item">
          <a class="nav-link adm-btn" href="{% url 'admin:index' %}">Admin</a>
        </li>
      </ul>
      {% endif %}
      <ul class="nav navbar-nav ml auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url "carrito:carrito_detalle" %}">
            <i class="lnr lnr-cart">
              {% with total_items=carrito|length %}
                {% if carrito|length > 0 %}
                <span class="badge badge-light">{{total_items}}</span>
                {% endif %}
              {% endwith %}
            </i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#perfil">
            <i class="lnr lnr-user">
            </i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Cerrar sesión</a>
        </li>
      </ul>
    {% else %}
      <ul class="nav navbar-nav ml-auto">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><b>Iniciar sesión</b> <span class="caret"></span></a>
          <ul id="login-dp" class="dropdown-menu dropdown-menu-right mt-2">
            <li>
              <div class="row">
                  <div class="col-lg-12">
                    <div class="social-buttons">
                      <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                      <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                    </div>
                      <hr>
                      <form class="login" role="form" method="POST" action="{% url 'account_login' %}" accept-charset="UTF-8" id="login-nav">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                        <tr>
                          <th>
                            <label for="id_login" hidden>Usuario:</label>
                          </th>
                          <td>
                            <div class="form-group">
                              <input type="text" class="form-control" name="login" placeholder="Usuario" autofocus="autofocus" maxlength="150" required id="id_login">
                            </div>
                            {% comment %} <input type="text" name="login" placeholder="Usuario" autofocus="autofocus" maxlength="150" required id="id_login"> {% endcomment %}
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <label for="id_password" hidden>Contraseña:</label>
                          </th>
                          <td>
                          <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Contraseña" required id="id_password">
                          </div>
                            {% comment %} <input type="password" name="password" placeholder="Contraseña" required id="id_password"> {% endcomment %}
                          </td>
                        </tr>
                        <div class="help-block text-right"><a class="button secondaryAction link-dp" href="{% url 'account_reset_password' %}">¿Olvidaste la contraseña?</a></div>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label for="id_remember"><input type="checkbox" name="remember" id="id_remember">  Recordarme</label>                                          
                            </div>
                          </td>
                        </tr>                        
                        <button class="primaryAction btn btn-primary btn-block login-b" type="submit">Iniciar sesión</button>
                      </form>
                      <div class="bottom container">Nuevo aqui ?<a href="{% url 'account_signup' %}" class="link-dp"><b> Registrate!</b></a>
                      </div>                    
                  </div>
                  
              </div>
            </li>
          </ul>
        </li>
      </ul>   
    {% endif %}
  </div>
</nav>
<!--fin nav bar-->

    {% comment %} <form class="form-inline">
      <!-- {{ request.user }} -->
      {% if request.user.is_authenticated %}
      <div class="input-group">
        <div class="input-group-prepend">
          <!--Carrito de compras-->
          {% with totail_items=carrito|length %}
              {% if carrito|length > 0 %}
                <a href="{% url "carrito:carrito_detalle" %}" class="input-group-text ti-shopping-cart-full">{{ totail_items }}</a>
                <!-- objetos 
                {{ totail_items }}= cantidad de items
                Producto{{ totail_items|pluralize }}
                {{ carrito.get_total_price }}
                -->
              {% else %}
                <span class="input-group-text ti-shopping-cart" id="basic-addon1"></span>
              {% endif %}
          {% endwith %} 
      <!--fin Carrito de compras -->
          <span class="input-group-text ti-user" id="basic-addon1"></span>
        </div>
        <input type="text" class="form-control" placeholder="{{ request.user }}" aria-label="Username" aria-describedby="basic-addon1" disabled>
      </div>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="#">Iniciar sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Crear cuenta</a>
        </li> 
      {% endif %}
      
    </form>  {% endcomment %} 

