{% extends 'secciones/base.html' %}
{% load static %}
{% block title %}
    {% if categoria %}{{ categoria.Nombre }} {% else %} Productos {% endif %}
{% endblock %}

{% block content %}
   <div class="container">
      <div class="row" style="margin-top: 6%">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
              <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-6 text-right">
                            <img src="{% if producto.imagen %} {{ producto.imagen.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 170px; width: auto">
                        </div>
                        <div class="col-md-6" style="padding-left: 20px">
                            <h3>{{ producto.Modelo }} </h3>
                            <h6><a href="{{ producto.categoria.get_absolute_url }}">{{ producto.categoria }}</a></h6>
                            <p class="text-muted">$ {{ producto.Total }}</p>
                            <form action="{% url "carrito:carrito_agregar" producto.id_producto %}" method="post">
                              {% csrf_token %}
                              {{ form_carrito_producto }}
                              <input type="submit" value="agregar al carrito" class="btn btn-primary">
                          </form>
                            <p>{{ producto.Descripcion|safe|linebreaksbr }}</p>
                        </div>
                    </div>
                </div>
              </div>


          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->
      </div><!-- /.row -->

    </div><!-- /.container -->
{% endblock %}