{% extends 'base.html' %}
{% load static %}
{% block title %}
    Tu carrito de compras
{% endblock %}


{% block content %}
    <div class="container table-responsive">
        <div class="row" style="margin-top: 6%">
        
            <table class="table table-striped table-hover">
                <thead style="background-color: black">
                    <tr>
                        <th style="color: white;">Imagen</th>
                        <th style="color: white;">Producto</th>
                        <th style="color: white;">Cantidad</th>
                        <th style="color: white;">Remover</th>
                        <th style="color: white;">Precio unitario</th>
                        <th style="color: white;">Precio</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in carrito %}
                    {% with producto=item.producto  %}
                        <tr>
                            <td>
                                <a href="{{ producto.get__absolute_url }}">
                                    <img src="{% if producto.imagen %} {{ producto.imagen.url }} {% else %} {% static 'img/default.svg' %} {% endif %}" alt="..." style="height: 130px; width: auto">
                                </a>
                            </td>
                            <td>{{ producto.Modelo.Marca }} {{ producto.Modelo }}</td>
                            <td>
                                <form action="{% url 'carrito:carrito_agregar' producto.id_producto %}" method="post">
                                    {% csrf_token %}
                                    {{ item.form_actualizar_cantidad.cantidad }}
                                    {{ item.form_actualizar_cantidad.actualizar }}
                                    <input type="submit" value="Actualizar" class="btn btn-info">
                                </form>
                            </td>
                            <td>
                                <a href="{% url 'carrito:carrito_remover' producto.id_producto %}">Remover</a>
                            </td>
                            <td>${{ item.precio }}</td>
                            <td>${{ item.precio_total }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr style="background-color: black">
                    <td><b>Total</b></td>
                    <td colspan="4"></td>
                    <td colspan="num"><b>${{ carrito.get_total_price }}</b></td>
                </tr>
                </tbody>
            </table>
        <p class="text-right">
            <a href="{% url 'secciones:tienda' %}" class="btn btn-default">Continuar comprando</a>
            <a href="{% url 'ordenes:crear_orden' %}" class="btn btn-primary">Confirmar</a>
        </p>
        </div>
    </div>
{% endblock %}